---
import { SITE_TITLE } from '../consts'
import ThemeToggle from './ThemeToggleButton'
---

<header class="sticky top-0 w-full p-2 z-20 backdrop-blur-md border-b">
  <div class="mx-auto max-w-3xl px-1">
    <nav class="flex items-center gap-3 text-base">
      <a href="/">
        <h2 class="font-semibold tracking-tighter font-mono text-lg">
          {SITE_TITLE}
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex">
        <a href="/about">About</a>
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
