---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import FormattedDate from '@/components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout title={title} description="hello">
  <article class="prose dark:prose-invert mx-auto max-w-full p-1">
    <div class="title">
      <h1 class="text-3xl my-1" transition:name={`post-${title}`}>{title}</h1>
      <div class="mb-2">
        <FormattedDate date={new Date(pubDate)} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <hr class="border-top border-zinc-400 my-4" />
      <slot />
    </div>
  </article>
</BaseLayout>
